body {
  padding-top: 3rem;
  height: 100vh;
  font-family: "Roboto", sans-serif;
  background: rgb(255, 184, 1);
  background: linear-gradient(
    329deg,
    rgba(255, 184, 1, 1) 0%,
    rgba(255, 210, 93, 1) 0%,
    rgba(255, 168, 101, 1) 100%
  );
}

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.form-container {
  margin: 0 auto;
  padding: 2rem 2rem;
  width: 41.5rem;
  height: 37rem;
  background-color: white;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.form-title {
  font-weight: 500;
  font-size: 1.7rem;
  position: relative;
}

.form-title::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -3px;
  height: 0.2rem;
  width: 2rem;
  background: rgb(255, 184, 1);
}

.text-inputs-container {
  margin-top: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.text-inputs {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2.5rem;
}

.text-input {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 7px;
}

.text-input label {
  font-weight: 500;
}

.text-input input {
  padding: 0.7rem 0.6rem;
  width: 17.5rem;
  border: 1px solid rgb(187, 187, 187);
  border-bottom: 2px solid rgb(187, 187, 187);
  border-radius: 5px;
  font-size: 16px;
}

.text-input input:active,
.text-input input:focus {
  outline: none;
}

.text-input input::placeholder {
  font-size: 15px;
  font-weight: 400;
}

h3 {
  font-weight: 500;
  margin-top: 2rem;
  font-size: 1.3rem;
}

.radio-inputs {
  margin-top: 1.2rem;
  margin-left: -7px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 6rem;
}
.custom-radio {
  display: flex;
  align-items: center;
  position: relative;
  padding-left: 30px;
  white-space: nowrap;
}

.custom-radio input[type="radio"] {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.custom-radio label:before {
  content: "";
  position: absolute;
  left: 6px;
  top: 1px;
  width: 16px;
  height: 16px;

  background-color: rgb(203, 202, 202);
  border-radius: 50%;
}

.custom-radio input[type="radio"]:checked + label:before {
  background-color: #1860dd;
}

button {
  margin-top: 2.5rem;
  padding: 0.8rem;
  width: 100%;
  text-align: center;
  background: rgb(255, 184, 1);
  background: linear-gradient(
    329deg,
    rgba(255, 184, 1, 1) 0%,
    rgba(255, 210, 93, 1) 0%,
    rgba(255, 168, 101, 1) 100%
  );
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 1rem;
  letter-spacing: 1.3px;
  font-weight: 700;
  cursor: pointer;
}

button:hover {
  background: #1860dd;
}
